#main-page {
  background-color: ghostwhite;
  height: 2300px;
  width: 1350px;
}

.head-div {
  background-color: black;
  width: 100%;
  height: 490px;
}

.title-div{
  width: 120px;
  height: 40px;
  position: absolute;
  margin-left: 5em;
  margin-top: 1.5em;
}

.audiophile {
  text-align: center;
  font-family:  Roboto, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bolder;
  margin-top: 0.3rem;
  cursor: default;
}

.nav-div {
  position: absolute;
  width: 380px;
  height: 40px;
  margin-left: 25.5em;
  margin-top: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white(0, 0, 0);
}

li {
  float: left;
}

li a {
  margin-top: -0.7rem;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

li a:active, a::after {
  color:  gainsboro;
}

li a:hover {
  color:  darkseagreen;
}

li a:visited {
  color: azure;
}

hr {
  width: 100%;
}

.main-title {
  background-color: transparent;
  position: absolute;
  margin-top: 9.5em;
  width: 320px;
  height: 260px;
  margin-left: 4.5em;
  cursor: default;
}

.new-headline {
  color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 1.2rem;
  cursor: default;
}

.new-product-title {
  margin-top: 0.5rem;
  font-size: 40px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.headphones {
  margin-top: -1.2rem;
  font-size: 38px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.paragraph {
  margin-top: 0.7rem;
  font-size: 14px;
  color:whitesmoke;
}

.div-btn {
  position: absolute;
  margin-top: 25.5em;
  margin-left: 4.5rem;
}

#btn-product {
  background-color:   sandybrown;
  color: white;
}

.div-img {
  height: 360px;
  width: 490px;
  position: absolute;
  margin-top: 7.1em;
  margin-left: 25.5em;
}

.img-headphones{
  height: 100%;
  width: 100%;
}

.div-slogan {
  float: right;
  margin-right: 10em;
  margin-top: 14.1em;
}

h3 {
  color: white;
  font-size: 16px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}

.div-products {
  background-color: transparent;
  height: 130px;
  width: 100%;
}

.div-headphones {
  background-color:  gainsboro;
  width: 210px;
  height: 130px;
  margin-top: 8.5em;
  margin-left: 16.5em;
}

.img2-headphones {
  height: 60px;
  width: 60px;
  margin-top: -1.5rem;
  margin-left: 4.5rem;
}

.p-headphones {
  font-size: 16px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style:  unset;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 3.5rem;
}

#button-shop {
  color: gray;
  font-size: 10px;
  margin-top: 2.5rem;
  margin-left: 4.5rem;
  background-color: transparent;
  font-weight: bold;
  border-color: white;
}

span {
  color: red;
}

.div-speakers {

  background-color: gainsboro;
  width: 210px;
  height: 130px;
  position: absolute;
  margin-top: -8.1rem;
  margin-left: 36.5rem;
}

.p-speakers {
  font-size: 16px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style:  unset;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 4.5rem;
}

#button-shop2 {
  color: gray;
  font-size: 10px;
  margin-top: 2.5rem;
  margin-left: 4.5rem;
  background-color: transparent;
  font-weight: bold;
  border-color: white;
}

.div-earphones {
  background-color: gainsboro;
  width: 210px;
  height: 130px;
  position: absolute;
  margin-top: -8.1rem;
  margin-left: 56.5rem;
}

.p-earphones {
  font-size: 16px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style:  unset;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 3.8rem;
}

.div-2nd-container {

  margin-top: 5em;
  background-color:  chocolate;
  width: 850px;
  margin-left: 16.5em;
  height: 280px;
  border-radius: 12px;
}

.div-img-2nd-container {
  background-color: white;
  height: 240px;
  width: 340px;
  position: absolute;
  margin-left: 2.5rem;
  border-style: 1px solid;
  border-color: white;
  margin-top: 2.5rem;
}

.img-2nd-container {
  width: 98%;
  height: 98%;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.div-text-description {
  
  width: 300px;
  height: 220px;
  float: right;
  margin-right: 6.5rem;
  margin-top: 2.5rem;
}

.h4-title {
  color: white;
  font-size: 38px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:  bold;
  cursor: default;
}

.h4-title2 {
  color: white;
  font-size: 38px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:  bold;
  margin-top: -0.8rem;
  cursor: default;
}

p {
  color: whitesmoke;
  font-size: 12px; 
  cursor: default;
}

.div-2nd-container-btn {
  float: right;
  margin-right: -7.2rem;
  margin-top: 12.5rem;
} 

#black-button {
  background-color: black;
  color: white;
  border-color: whitesmoke;
}

.div-3rd-container {
  background-color:  lightgray;
  width: 850px;
  margin-left: 16.5em;
  height: 220px;
  border-radius: 8px;
  margin-top: 2rem;
}

.div-img-3rd-container {
  background-color: black;
  height: 190px;
  width: 340px;
  float: right;
  margin-right: 1.5rem;
  border-style: 1px solid;
  border-color: white;
  margin-top: 1.5rem;
}

.img-3rd {
  width: 98%;
  height: 98%;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
}

.div-text-3rd {
  width: 240px;
  height: 60px;
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 4.5rem;
}

.title-3rd {
  font-size: 21px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  cursor: default;
}

.div-btn-3rd {
  position: absolute;
  margin-top: 7.5rem;
  margin-left: 6.5rem;
}

#outlined-button {
  background-color: transparent;
  color: black;
  border-color: black;
  font-size: 16px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}